<%= link_to "Start new pomodoro", "/pomodoros/start", remote: true %>

<%= link_to "Pause", "http://yandex.ru"  %>

<%= link_to "Resume", "http://wolframalphs.org" %>

<div id="timer">
  Hello
</div>
