<%= link_to "Start new pomodoro", "/pomodoros/start", remote: true %>

<%= link_to "Pause", "/pomodoros/pause", remote: true   %>

<%= link_to "Resume", "/pomodoros/resume", remote: true %>

<div id="timer">
  Hello
</div>

<table id="sequence-table">
  <tbody>
    <tr>
      <th>Type</th>
      <th>Duration</th>
    </tr>
  </tbody>
</table>
